<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>common_alert.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,208},{117,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,117}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>common_bgboard1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{387,465}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{387,465}}</string>
                <key>sourceSize</key>
                <string>{387,465}</string>
            </dict>
            <key>common_bgboard2.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,481},{116,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,76}}</string>
                <key>sourceSize</key>
                <string>{116,76}</string>
            </dict>
            <key>common_bgboard3.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,2},{445,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{445,216}}</string>
                <key>sourceSize</key>
                <string>{445,216}</string>
            </dict>
            <key>common_bgshopitem.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,220},{140,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,60}}</string>
                <key>sourceSize</key>
                <string>{140,60}</string>
            </dict>
            <key>common_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,2},{196,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,62}}</string>
                <key>sourceSize</key>
                <string>{196,62}</string>
            </dict>
            <key>common_btn_buydiamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,2},{204,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,68}}</string>
                <key>sourceSize</key>
                <string>{204,68}</string>
            </dict>
            <key>common_btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,445},{80,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,73}}</string>
                <key>sourceSize</key>
                <string>{80,73}</string>
            </dict>
            <key>common_btnbgblue.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,2},{117,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,50}}</string>
                <key>sourceSize</key>
                <string>{117,50}</string>
            </dict>
            <key>common_btnbgred.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,121},{117,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,49}}</string>
                <key>sourceSize</key>
                <string>{117,49}</string>
            </dict>
            <key>common_titleback.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,493},{444,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{444,53}}</string>
                <key>sourceSize</key>
                <string>{444,53}</string>
            </dict>
            <key>common_whitebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,362},{117,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,117}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>luckywheel_btnbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,469},{347,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{347,55}}</string>
                <key>sourceSize</key>
                <string>{347,55}</string>
            </dict>
            <key>luckywheel_btnselected.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,526},{168,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,43}}</string>
                <key>sourceSize</key>
                <string>{168,43}</string>
            </dict>
            <key>luckywheel_btnselected2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,526},{168,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,43}}</string>
                <key>sourceSize</key>
                <string>{168,43}</string>
            </dict>
            <key>share_girl.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,220},{271,386}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,386}}</string>
                <key>sourceSize</key>
                <string>{271,386}</string>
            </dict>
            <key>userinfo_headkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,327},{116,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,115}}</string>
                <key>sourceSize</key>
                <string>{116,115}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>common.png</string>
            <key>size</key>
            <string>{1024,571}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5f7575931da2b63b1735b78e4dccb2c4$</string>
            <key>textureFileName</key>
            <string>common.png</string>
        </dict>
    </dict>
</plist>
