<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>desk_audio.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,389},{31,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,32}}</string>
                <key>sourceSize</key>
                <string>{31,32}</string>
            </dict>
            <key>desk_btnaudio.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,350},{68,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,67}}</string>
                <key>sourceSize</key>
                <string>{68,67}</string>
            </dict>
            <key>desk_btnbackroom.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,281},{267,85}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{267,85}}</string>
                <key>sourceSize</key>
                <string>{273,91}</string>
            </dict>
            <key>desk_btnchat.png</key>
            <dict>
                <key>frame</key>
                <string>{{1044,183},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>desk_btnchatrecord.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,183},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>desk_btndissove.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,183},{266,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{266,85}}</string>
                <key>sourceSize</key>
                <string>{268,85}</string>
            </dict>
            <key>desk_btnlocation.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,355},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>desk_btnmorebtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,355},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>desk_btnready.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{372,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,111}}</string>
                <key>sourceSize</key>
                <string>{372,111}</string>
            </dict>
            <key>desk_btnreturn.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,270},{267,83}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{267,83}}</string>
                <key>sourceSize</key>
                <string>{273,91}</string>
            </dict>
            <key>desk_btnsetting.png</key>
            <dict>
                <key>frame</key>
                <string>{{1183,183},{68,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,67}}</string>
                <key>sourceSize</key>
                <string>{68,67}</string>
            </dict>
            <key>desk_btntablecloth.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,355},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>desk_btntuoguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,183},{255,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,96}}</string>
                <key>sourceSize</key>
                <string>{255,96}</string>
            </dict>
            <key>desk_btntuoguan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1114,183},{68,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,67}}</string>
                <key>sourceSize</key>
                <string>{68,67}</string>
            </dict>
            <key>desk_btnweichat.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,183},{372,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,111}}</string>
                <key>sourceSize</key>
                <string>{372,111}</string>
            </dict>
            <key>desk_namebk.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,368},{95,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,40}}</string>
                <key>sourceSize</key>
                <string>{95,40}</string>
            </dict>
            <key>desk_prompt.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,355},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>desk_tuoguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,368},{93,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,33}}</string>
                <key>sourceSize</key>
                <string>{93,33}</string>
            </dict>
            <key>desk_userbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,253},{94,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,123}}</string>
                <key>sourceSize</key>
                <string>{94,123}</string>
            </dict>
            <key>desk_userhead.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,183},{72,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,71}}</string>
                <key>sourceSize</key>
                <string>{72,71}</string>
            </dict>
            <key>desk_xuanpai.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,257},{196,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,91}}</string>
                <key>sourceSize</key>
                <string>{196,91}</string>
            </dict>
            <key>desk_zhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,350},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>game_downarrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,368},{93,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,55}}</string>
                <key>sourceSize</key>
                <string>{93,55}</string>
            </dict>
            <key>info_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,350},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>tuoguanzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1286,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1286,179}}</string>
                <key>sourceSize</key>
                <string>{1286,179}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>desk.png</string>
            <key>size</key>
            <string>{1290,425}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1fec2dd2fb166faee7da89e92df2a311$</string>
            <key>textureFileName</key>
            <string>desk.png</string>
        </dict>
    </dict>
</plist>
