<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>join_delete.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,440},{122,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,51}}</string>
                <key>sourceSize</key>
                <string>{122,51}</string>
            </dict>
            <key>join_inputbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,387},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>join_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{444,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{444,53}}</string>
                <key>sourceSize</key>
                <string>{444,53}</string>
            </dict>
            <key>join_num0.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,332},{124,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,53}}</string>
                <key>sourceSize</key>
                <string>{124,53}</string>
            </dict>
            <key>join_num1.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,277},{124,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,53}}</string>
                <key>sourceSize</key>
                <string>{124,53}</string>
            </dict>
            <key>join_num2.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,254},{124,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,53}}</string>
                <key>sourceSize</key>
                <string>{124,53}</string>
            </dict>
            <key>join_num3.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,222},{124,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,53}}</string>
                <key>sourceSize</key>
                <string>{124,53}</string>
            </dict>
            <key>join_num4.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,167},{124,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,53}}</string>
                <key>sourceSize</key>
                <string>{124,53}</string>
            </dict>
            <key>join_num5.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,128},{124,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,53}}</string>
                <key>sourceSize</key>
                <string>{124,53}</string>
            </dict>
            <key>join_num6.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,112},{124,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,53}}</string>
                <key>sourceSize</key>
                <string>{124,53}</string>
            </dict>
            <key>join_num7.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,57},{124,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,53}}</string>
                <key>sourceSize</key>
                <string>{124,53}</string>
            </dict>
            <key>join_num8.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,2},{124,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,53}}</string>
                <key>sourceSize</key>
                <string>{124,53}</string>
            </dict>
            <key>join_num9.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,2},{124,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,53}}</string>
                <key>sourceSize</key>
                <string>{124,53}</string>
            </dict>
            <key>join_reinput.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,387},{122,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,51}}</string>
                <key>sourceSize</key>
                <string>{122,51}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>joinroom.png</string>
            <key>size</key>
            <string>{238,493}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3f749d201a3203154f9de54a784514c0$</string>
            <key>textureFileName</key>
            <string>joinroom.png</string>
        </dict>
    </dict>
</plist>
