<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>luckywheel_allrecordnormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,410},{98,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,27}}</string>
                <key>sourceSize</key>
                <string>{98,27}</string>
            </dict>
            <key>luckywheel_allrecordselect.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,298},{98,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,27}}</string>
                <key>sourceSize</key>
                <string>{98,27}</string>
            </dict>
            <key>luckywheel_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,189},{58,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,175}}</string>
                <key>sourceSize</key>
                <string>{58,175}</string>
            </dict>
            <key>luckywheel_btnstart.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,2},{185,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,185}}</string>
                <key>sourceSize</key>
                <string>{185,185}</string>
            </dict>
            <key>luckywheel_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,2},{522,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{522,108}}</string>
                <key>sourceSize</key>
                <string>{522,108}</string>
            </dict>
            <key>luckywheel_myrecordnormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,410},{99,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,27}}</string>
                <key>sourceSize</key>
                <string>{99,27}</string>
            </dict>
            <key>luckywheel_myrecordselect.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,526},{99,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,27}}</string>
                <key>sourceSize</key>
                <string>{99,27}</string>
            </dict>
            <key>luckywheel_pic_wheel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{567,567}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{567,567}}</string>
                <key>sourceSize</key>
                <string>{567,567}</string>
            </dict>
            <key>luckywheel_prize_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,207},{98,107}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,107}}</string>
                <key>sourceSize</key>
                <string>{98,109}</string>
            </dict>
            <key>luckywheel_prize_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,2},{106,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{106,83}}</string>
                <key>sourceSize</key>
                <string>{108,83}</string>
            </dict>
            <key>luckywheel_prize_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,110},{95,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,82}}</string>
                <key>sourceSize</key>
                <string>{95,82}</string>
            </dict>
            <key>luckywheel_prize_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,476},{97,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,90}}</string>
                <key>sourceSize</key>
                <string>{97,90}</string>
            </dict>
            <key>luckywheel_prize_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,366},{108,88}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{108,88}}</string>
                <key>sourceSize</key>
                <string>{108,98}</string>
            </dict>
            <key>luckywheel_prize_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,307},{78,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,101}}</string>
                <key>sourceSize</key>
                <string>{78,101}</string>
            </dict>
            <key>luckywheel_prize_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,110},{95,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,82}}</string>
                <key>sourceSize</key>
                <string>{95,82}</string>
            </dict>
            <key>luckywheel_prize_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,189},{98,107}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,107}}</string>
                <key>sourceSize</key>
                <string>{98,109}</string>
            </dict>
            <key>luckywheel_prize_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,434},{97,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,89}}</string>
                <key>sourceSize</key>
                <string>{97,89}</string>
            </dict>
            <key>luckywheel_prize_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,2},{106,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{106,83}}</string>
                <key>sourceSize</key>
                <string>{108,83}</string>
            </dict>
            <key>luckywheel_prize_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,207},{98,107}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,107}}</string>
                <key>sourceSize</key>
                <string>{98,109}</string>
            </dict>
            <key>luckywheel_prize_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,327},{98,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{98,105}}</string>
                <key>sourceSize</key>
                <string>{98,109}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>luckywheel.png</string>
            <key>size</key>
            <string>{953,571}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf5259491e36400637c77c3702134d89$</string>
            <key>textureFileName</key>
            <string>luckywheel.png</string>
        </dict>
    </dict>
</plist>
