<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Best_Gunner.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,167},{69,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,82}}</string>
                <key>sourceSize</key>
                <string>{69,82}</string>
            </dict>
            <key>bgp_roomMessage.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,2},{1037,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1037,44}}</string>
                <key>sourceSize</key>
                <string>{1037,44}</string>
            </dict>
            <key>big_winner.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,186},{80,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,65}}</string>
                <key>sourceSize</key>
                <string>{80,65}</string>
            </dict>
            <key>game_overinfoback.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{249,454}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,454}}</string>
                <key>sourceSize</key>
                <string>{249,454}</string>
            </dict>
            <key>game_w_over.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,48},{202,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,68}}</string>
                <key>sourceSize</key>
                <string>{202,68}</string>
            </dict>
            <key>gameover_lose.png</key>
            <dict>
                <key>frame</key>
                <string>{{1095,48},{394,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,92}}</string>
                <key>sourceSize</key>
                <string>{394,92}</string>
            </dict>
            <key>gameover_w_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,48},{136,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,40}}</string>
                <key>sourceSize</key>
                <string>{136,40}</string>
            </dict>
            <key>gameover_w_continue.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,167},{80,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,40}}</string>
                <key>sourceSize</key>
                <string>{80,40}</string>
            </dict>
            <key>gameover_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,48},{523,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{523,117}}</string>
                <key>sourceSize</key>
                <string>{523,117}</string>
            </dict>
            <key>pic_totalScore.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,167},{113,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,69}}</string>
                <key>sourceSize</key>
                <string>{113,69}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameover.png</string>
            <key>size</key>
            <string>{1497,253}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a1bfdd0b357c90c29cae3fddeb80fb48$</string>
            <key>textureFileName</key>
            <string>gameover.png</string>
        </dict>
    </dict>
</plist>
