<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bg_gametypelist.png</key>
			<dict>
				<key>frame</key>
				<string>{{332,42},{110,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,90}}</string>
				<key>sourceSize</key>
				<string>{110,90}</string>
			</dict>

			<key>btn_selected.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,144},{178,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{178,65}}</string>
				<key>sourceSize</key>
				<string>{178,65}</string>
			</dict>

			<key>btn_unselected.png</key>
			<dict>
				<key>frame</key>
				<string>{{179,144},{176,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{176,65}}</string>
				<key>sourceSize</key>
				<string>{178,65}</string>
			</dict>

			<key>btn_w_OK.png</key>
			<dict>
				<key>frame</key>
				<string>{{356,202},{59,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{59,34}}</string>
				<key>sourceSize</key>
				<string>{59,34}</string>
			</dict>

			<key>btn_w_cancel.png</key>
			<dict>
				<key>frame</key>
				<string>{{338,0},{59,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{59,34}}</string>
				<key>sourceSize</key>
				<string>{59,34}</string>
			</dict>

			<key>btn_w_createteahouse.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,210},{115,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,34}}</string>
				<key>sourceSize</key>
				<string>{115,34}</string>
			</dict>

			<key>check_OK.png</key>
			<dict>
				<key>frame</key>
				<string>{{416,202},{47,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{47,46}}</string>
				<key>sourceSize</key>
				<string>{47,46}</string>
			</dict>

			<key>check_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{398,0},{34,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,33}}</string>
				<key>sourceSize</key>
				<string>{34,33}</string>
			</dict>

			<key>common_add.png</key>
			<dict>
				<key>frame</key>
				<string>{{356,133},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{68,68}}</string>
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>

			<key>common_subtract.png</key>
			<dict>
				<key>frame</key>
				<string>{{425,133},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{68,68}}</string>
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>

			<key>create_fengdin.png</key>
			<dict>
				<key>frame</key>
				<string>{{212,73},{119,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,41}}</string>
				<key>sourceSize</key>
				<string>{119,41}</string>
			</dict>

			<key>create_jushu.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,210},{119,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,41}}</string>
				<key>sourceSize</key>
				<string>{119,41}</string>
			</dict>

			<key>create_renshu.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,210},{119,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,41}}</string>
				<key>sourceSize</key>
				<string>{119,41}</string>
			</dict>

			<key>create_w_create.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{217,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{217,72}}</string>
				<key>sourceSize</key>
				<string>{217,72}</string>
			</dict>

			<key>create_wanfa.png</key>
			<dict>
				<key>frame</key>
				<string>{{218,0},{119,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,41}}</string>
				<key>sourceSize</key>
				<string>{119,41}</string>
			</dict>

			<key>xuanzhequeding.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,73},{211,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{211,70}}</string>
				<key>sourceSize</key>
				<string>{211,70}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,256}</string>
			<key>textureFileName</key>
			<string>createroom.png</string>
			</dict>
		</dict>
</plist>